{% load static %}
<!-- footer part start-->
<footer class="footer-area">
    <div class="footer section_padding">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-xl-2 col-md-4 col-sm-6 single-footer-widget">
                    <a href="#" class="footer_logo"> <img src="{%static 'img/logo.png'%}" alt="#"> </a>
                    <p>This website is made with love and charity by Soldiers  </p>
                    <div class="social_logo">
                        <a href="#"><i class="ti-facebook"></i></a>
                        <a href="#"> <i class="ti-twitter"></i> </a>
                        <a href="#"><i class="ti-instagram"></i></a>
                        <a href="#"><i class="ti-skype"></i></a>
                    </div>
                </div>
               
                <div class="col-xl-2 col-sm-6 col-md-4 single-footer-widget">
                    <h4>Explore</h4>
                    <ul>
                        <li><a href="Doctor.html">Exprienced doctors</a></li>
                        <li><a href="about.html">About us</a></li>
                        <li><a href="articles.html">Articles </a></li>
                        <li><a href="Activities.html">Activities</a></li>
                        <li><a href="services.html">Our services</a></li>
                    </ul>
                </div>
             
                <div class="col-xl-3 col-sm-6 col-md-6 single-footer-widget">
                    <h4>Newsletter</h4>
                    <p>Help us with your opinion.</p>
                    <div class="form-wrap" id="mc_embed_signup">
                        <form target="_blank"
                            action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                            method="get" class="form-inline">
                            <input class="form-control" name="EMAIL" placeholder="Your Email Address"
                                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address '"
                                required="" type="email">
                            <button class="click-btn btn btn-default text-uppercase"> <i class="ti-angle-right"></i>
                            </button>
                            <div style="position: absolute; left: -5000px;">
                                <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value=""
                                    type="text">
                            </div>

                            <div class="info"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="copyright_part">
        <div class="container">
            <div class="row align-items-center">
                <p class="footer-text m-0 col-lg-8 col-md-12"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved to Soldiers</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</p>
                <div class="col-lg-4 col-md-12 text-center text-lg-right footer-social">
                    <a href="#"><i class="ti-facebook"></i></a>
                    <a href="#"> <i class="ti-twitter"></i> </a>
                    <a href="#"><i class="ti-instagram"></i></a>
                    <a href="#"><i class="ti-skype"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- footer part end-->

<!-- jquery plugins here-->

<script src="{%static 'js/jquery-1.12.1.min.js'%}"></script>
<!-- popper js -->
<script src="{%static 'js/popper.min.js'%}"></script>
<!-- bootstrap js -->
<script src="{%static 'js/bootstrap.min.js'%}"></script>
<!-- owl carousel js -->
<script src="{%static 'js/owl.carousel.min.js'%}"></script>
<script src="{%static 'js/jquery.nice-select.min.js'%}"></script>
<!-- contact js -->
<script src="{%static 'js/jquery.ajaxchimp.min.js'%}"></script>
<script src="{%static 'js/jquery.form.js'%}"></script>
<script src="{%static 'js/jquery.validate.min.js'%}"></script>
<script src="{%static 'js/mail-script.js'%}"></script>
<script src="{%static 'js/contact.js'%}"></script>
<!-- custom js -->
<script src="{%static 'js/custom.js'%}"></script>